recipe.css
h1{
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	margin: auto;
	font-family: Georgia, serif;
}
li{
	text-transform: capitalize;
	font-weight: bold;
	border-style: solid;
	border-color: crimson;
	color: white;
	background-color: black;
}
h2{
	margin: auto;
	font-family: sans-serif;	
}
p{
	border-style: solid;
	color: indigo;
	font-weight: lighter;

}
h4{
	margin: auto;
	text-transform: capitalize;
	font-weight: bolder;
}