recipe.css
h1{
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	margin: auto;
	font-family: Georgia, serif;
}
ul{
	text-transform: capitalize;
	font-weight: bold;
	color: black;
}
h2{
	margin: auto;
	font-family: sans-serif;	
}
p{
	border-style: solid;
	color: indigo;
	font-weight: lighter;

}
ol{
	margin: auto;
	text-transform: capitalize;
	font-weight: bolder;
}
img{
border-radius: 8px;
 display: block;
  margin-left: 300px;
  margin-right: 300px;
}
#ingredients{
	width: 33.33%;
	padding: 25px;
	float:left;
	block-size: auto;
	border-radius: 5px;
	border-style: solid;
	background-image: url(banana.jpg);
}
#instructions{
	width: 66.66%;
	padding: 25px;
	float:auto;
	block-size: auto;
	border-style: solid;
	border-radius: 5px;
}
a:link{
color:red;
}
a:visited{
	color:blue;
}
a:hover{
	color:green;
}
