recipe.css
h1{
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	margin: auto;
	font-family: Georgia, serif;
}
ul{
	text-transform: capitalize;
	font-weight: bold;
	border-style: solid;
	border-color: crimson;
	color: white;
	background-color: black;
}
h2{
	margin: auto;
	font-family: sans-serif;	
}
p{
	border-style: solid;
	color: indigo;
	font-weight: lighter;

}
ol{
	margin: auto;
	text-transform: capitalize;
	font-weight: bolder;
}
img{
	border-radius: 8px;
 display: block;
  margin-left: auto;
  margin-right: auto;
}
div{
	background-image: url(banana.jpg);
}